<body>
    <head>
        <title>material-myth demo</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <script src="../lib/material-myth.js"></script>
        <script src="demo.js"></script>
    </head>
    <body>
        <div id="root"></div>
    </body>
</body>